<div class="row">
    <div class="col-xs-12">
        <img [src] = "recipe.imagePath" 
        style="height: 170px; width: 250px"
        
        alt="recipe.name" class="image-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group"
        appDropdown
        >
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li style="cursor: pointer" ><a  (click)="addToShoppingList()">add to my Shopping List</a></li>
                <li style="cursor: pointer" routerLink="edit"><a >Edit Recipe</a></li>
                <li style="cursor: pointer" (click)="onDelete()" ><a>Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
    {{ recipe.description }}
    </div>
    <div class="col-xs-12">
        <ul class="list-group">
            <hr>
            <p style="color:darkblue; font-style:inherit; font-size: medium;" >ingredients that you need: </p>
          <li class="list-group-item"
          *ngFor="let i of recipe.ingredients">


                {{ i.name }} - {{ i.amount }}

          </li>  

        </ul>


       
    </div>
</div>
